<!DOCTYPE html>
<html ng-app="copiaChallenge">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Copia Challenge</title>

    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <style>
        body                    { padding-top:50px; }
    </style>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="src/services/dataService.js"></script>
    <script src="src/controllers/mainController.js"></script>
    <script src="src/src.js"></script>

</head>
<body ng-controller="mainController">
    <h2 class="text-center">Copia Challenge</h2>
    <input type="text" name="" class='form-control' ng-model='name' placeholder="Filter by Customer Name">
    <table class="table table-bordered" >
      <thead>
        <tr>
            <th>Customer</th>
            <th>Catergories</th>
            <th>Recipient</th>
            <th>Distance</th>
            <th>Pickup Date</th>
        </tr>
      </thead>
        <tr ng-repeat="match in matches | filter:{ customer: name }">
            <td>{{match.customer}}</td>
            <td>{{match.categories}}</td>
            <td>{{match.recipient}}</td>
            <td>{{match.distance}}</td>
            <td>{{match.pickupDate}}</td>
        </tr>
    </table>
</body>
</html>